*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
!example/Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
node_modules
*.log
**/public/assets
